# Loại trừ thư mục .ipynb_checkpoints
.ipynb_checkpoints/
/slides
/.ipynb_checkpoints
/.slides
/.vscode
*.docx
assign1_03cq.01_lamdn.pdf
assign2_03cq.01_lamdn.pdf
assign3_03cq.01_lamdn.pdf
assign4_03cq.01_lamdn.pdf
assign4.2_03cq.01_lamdn.pdf
assign5_03cq.01_lamdn.pdf
assign6.v1_03cq.01_lamdn.pdf
kiemtra1_cq3.01_lamdn.pdf
kiemtra2.v1_cq3.01_lamdn.pdf
kiemtra3_cq3.01_lamdn.pdf
tieuluan.v1_cq03.01_lamdn.pdf
tieuluan.v1_cq03.01_lamdn.docx
*.zip
/.gradio
*.zip
*.rar
*.7z
DATA/
datasets/
/Data
Data/
/dataset
dataset/
vietnam_shp/
vietnam-weather-data-preprocessed-v2/
Stock_Prices_&_Volume_VN30_Index_Vietnam/
Stock_Prices_VN-30_Index-Vietnam/
Viet_Nam_Stock_Market_Data_VNINDEX_VN30_VN100)/

